       /* BANNER */

#banner {
    height: 700px;
    font-family: sans-serif;
    text-transform: uppercase;    
}

#banner nav ul {
   display: flex;
   font-size: 18px;
   list-style: none;
   justify-content: space-between;
   padding: 5% 4%;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#banner span{
    font-weight: 400;
    color: #cac8c8; 
}

        /* bloc centre */

#bloc-centre {
    display: flex;  
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    
}
    
#bloc-centre h1 {
    font-size: 3.1em;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    padding-bottom: 40px;
}
    
#bloc-centre h2 {
    text-align: center;
    color: rgb(154, 151, 151);
    font-family: sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;    
}
    
   
    
     