footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 235px;
  background: white;
}

.icons {
  display: flex;
  gap: 50px;
  margin: 30px 0;
}

.icons li {
  list-style: none;
}

.icons i {
  color: #aaa;
  font-size: 48px;
}

.icons span {
  color: #000;
  display: block;
}

.copyright {
  display: flex;
  margin-right: 5%;
}

.copyright li {
  list-style: none;
  color: var(--text-secondary);
  padding-left: 20px;
}

.copyright a {
  color: inherit;
  text-decoration: none;
  padding-left: 5%;
}

.untitled::after,
.design::after {
  content: "";
  border-right: 1px solid black;
  padding: 10px 25px 5px 0px;
  opacity: 0.2;
}

         /* media queries 980px */

@media (max-width: 980px) {
  .copyright {
    font-size: 16px;
    margin-right: 6%;
  }
}

        /* media queries 480px */
 
@media (max-width: 480px) { 

footer{
  height: 280px;
}

.icons a{
  font-size: 10px;
}

.untitled{
  margin-left: 15%;
}

.design{
  margin-left: 10%;
}

.copyright li{
  padding-left: 1%;
}
}
