/*@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);*/


*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body{			
	background-image: url('./images/banner_modif.jpg');	
}

               /* HEADER */

header{	
	display: flex;		
	height: 500px;
	position: relative;	
	
}

header a{       /* spatial */
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 65px 50px;	
	font-weight: bolder;
}

nav li{	       /* accueil */	
	color: white;
	font-size: 20px;
	font-family: sans-serif;	
	list-style: none;
	font-weight: lighter;	
	position: absolute;
	top: 65px;
	right: 0;
}

.fa-bars{
	display: none;
}

#bloc-centre{   	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 400px;
    margin: 0 auto; 
	transform: translateY(-70%);	
}

#bloc-centre h1{		
   	font-size: 3.7em;
	font-family: sans-serif;
	color: white;	
	text-transform: uppercase;
	padding-bottom: 40px;
}

#bloc-centre h2{		
	text-align: center;
	color: gray;
	font-family: sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

.button{	 /* bouton */
	font-size: 23px;
	background: red;
	text-align: center;
	color: white;
	padding: 25px;
	width: 250px;
	border-radius: 5px;
	border: none;
	font-weight: bolder;	
	cursor: pointer;
	font-family: sans-serif;
	margin: 40px;	
	text-decoration: none;
	text-transform: uppercase;
}
                /* HEADER-end */

              /* bloc 1 Maecenas */

.bloc-texte{	
	display: flex;		
	height: 550px;
    background: white;
}

.bloc-h, .bloc-p{
	width: 50%;
}

      /* bloc-h */

.bloc-h h2{	
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 53px;
	width: 300px;
	padding-top: 110px;
	padding-left: 100px;
	margin: 0 auto;	
}

.bloc-h h3{
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 53px;
	width: 450px;
	padding-top: 15px;
	transform: translateX(39%);
	margin: 0 auto;	
}

.bloc-h p{
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 24px;	
	font-weight: lighter;	
	line-height: 1.7;
	color: rgb(179, 170, 170);	
	width: 550px;	
	padding-top: 15px;
	padding-left: 225px;
	margin: 0 auto;	
}

     /* bloc-p */

.bloc-p{	
	text-align: left;
	font-family: sans-serif;
	margin: 100px 0 70px 80px;
	text-transform: none;
	padding-right: 350px;
	line-height: 2;
	font-size: 18px;
	color: rgb(157, 149, 149);	
}

             /* bloc 2 Fusce */

#bloc-images{    	
    background: #F6F6F6;		
}

.bloc-img{
	display: flex;	
	height: 600px;			
}

.bloc-txt{
	text-align: center;
	padding: 120px 0 80px;
	text-transform: uppercase;
	font-family: sans-serif;
}

.bloc-txt h2{
	font-size: 50px;
}

.bloc-txt p{
	font-size: 28px;
	color: rgb(176, 173, 173);
	letter-spacing: 1px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.bloc-image1, .bloc-image2{    			
	width: 35%;	
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);	
	background: white;		
	margin: 0 auto;		
}

.bloc-image1{
	margin-right: -200px;
}

.bloc-image1 h3, .bloc-image2 h3{
	font-size: 25px;
	text-align: center;	
	text-transform: uppercase;
	font-family: sans-serif;
	padding-top: 45px;	
}

.action{
   display: flex;
   justify-content: center;
   margin-top: 70px;

}
.action a{
	text-decoration: none;
	color: white;
	padding: 25px;
	font-size: 23px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 80px;
}

.action .btn-red{
    background: red;
	width: 300px;
	margin-right: 20px;
}

.action .btn-black{
	background: black;
	width: 300px;
}

           /* bloc 3 Mauris */

#feature{	
	background: white;
	height: 950px;
}

.feat h2{
	font-size: 50px;
	font-family: sans-serif;
	text-transform: uppercase;
	margin-left: 240px;
	padding-top: 100px;
}

.feat h3{	
	margin-left: 240px;
	font-size: 28px;
	font-family: sans-serif;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 100px;
	color: rgb(195, 192, 192);
    font-weight: normal;	
}

#wrap{
	position: relative;
}

#bloc1, #bloc2, #bloc3, #bloc4{
    display: flex;		
}

#bloc1{
	width: 50%;	
}

#bloc2{
	width: 50%;	
	float: right;
}

#bloc3{	
	width: 50%;	
	position: relative;
}

#bloc4{	
	width: 50%;	
	float: right;
	position: relative;
}

       /* bloc h3 */

#bloc1 h3{
	padding-left: 510px;
}

#bloc2 h3{		 /* Recusandae */
	position: absolute;
	top: 0;
	right: 455px;
}

#bloc3 h3{
	padding-left: 450px;
}

#bloc4 h3{
	position: absolute;
	bottom: 275px;
	right: 483px;
}

           /* bloc h3-end */

             /* bloc h4 */

#bloc1 h4{
	padding-left: 435px;
	padding-top: 15px;
}

#bloc2 h4{       /* Recusandae */
	position: absolute;
	top: 40px;
	right: 395px;
}

#bloc3 h4{
	padding-left: 315px;
	padding-top: 15px;
}

#bloc4 h4{
	position: absolute;
	bottom: 240px;
	right: 275px;
}
 
           /* bloc h4-end */

         /* bloc paragraphe */

#bloc1 p, #bloc3 p{	  /* lorem - Laudantium */
	line-height: 2;
	color: rgb(113, 113, 113);
	text-align: right;	
	padding: 25px 0 100px;
	font-size: 20px;
}

#bloc2 p{              /* Recusandae */
	line-height: 2;
	color: rgb(113, 113, 113);
	text-align: left;	
	position: absolute;
	top: 85px;
	right: 250px;
	font-size: 20px;
}

#bloc4 p{	
	line-height: 2;
	color: rgb(113, 113, 113);
	text-align: left;		
	font-size: 20px;
	position: absolute;
	bottom: 95px;
	right: 240px;
}

           /* bloc paragraphe-end */

                 /* images */

#bloc1 img, #bloc2 img, #bloc3 img, #bloc4 img{	
	width: 150px;
	height: 150px;
	/*clip-path: circle(40%);*/
	border: 8px solid #E5DCDC;
	border-radius: 50%;
}

#bloc1 img, #bloc3 img{
	margin-left: 100px;
}

#bloc2 img{
	margin-left: 40px;
	position: absolute;
	top: 0;
}

#bloc4 img{
	position: absolute;
	bottom: 150px;
	left: 50px;
}

                /* images-end */

.wrapper h3{
    font-size: 20px;
	font-family: sans-serif;
	text-transform: uppercase;	
}

.wrapper h4{
	font-size: 17px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: rgb(176, 173, 173);
    font-weight: normal;
}

            /* bloc 3-end */

		   /* bloc 4 contact*/

.contact{
	display: flex;
	height: 500px;	
	flex-direction: column;	
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
}

.contact h2{	
	text-align: center;
	font-size: 3.5em;	
	margin-top: 130px;
}

.contact p{		
	text-align: center;
	margin-top: 30px;
	font-size: 2em;	
	font-weight: normal;
	color: rgb(179, 170, 170);
}

.contact a{	     /* bouton */
	text-align: center;
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	font-size: 23px;
	background: red;
	border-radius: 5px;
	font-weight: bolder;
	cursor: pointer;
	width: 330px;
	padding: 25px;
	padding-top: 33px;
	border: none;
	margin: 50px auto;
}

        /* bloc 4 contact-end*/

              /* footer */

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 450px;
	background: white;
}

.icons{
    display: flex;
	padding-top: 80px;
	transform: translateX(20%);   
}

.icons li{
	list-style: none;
	margin-top: -200px;
}

.icons li:first-child{
	padding-top: 3px;
}

.icons li:last-child{   /*instagram-logo */
	transform: translateX(-30%); 
	margin-top: -195px;
}

.icons li p{    /*instagram-txt */
	padding-left: 50px;
	margin-top: -20px;
}

.icons img{
	width: 20%;
}

.copyright{
	display: flex;
	transform: translateX(10%);
	margin-top: -80px;
}

.copyright li{
    margin-right: 30px;	
	list-style: none;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	color: rgb(161, 157, 157);
}

.copyright a{
	color: inherit;
	text-decoration: none;	
}

.untitled::after, .design::after{
	content: "";
	border-right: 1px solid black;
	padding: 10px 25px 5px 0;		
	opacity: .2;
}

img{
	width: 100%;	
}

          /* media queries */

		    /* Tablette */

@media (min-width: 768px) and (max-width: 992px) {
	
    /* header */

/*	.fa-solid {
		color: red;
		width: 50px;  
		height: 50px; 		
	}
	header a{
		display: none;
	} 
	header{
		height: 550px;
	}
	.bloc-centre{
        width: 280px;
		transform: translate(120%,40%);
	}
	header h1{
		font-size: 38px;
		padding-bottom: 30px;
	}
	header h2{
		font-size: 23px;
		width: 300px;
	}
	header p{     /* bouton */
	/*	width: 230px;
		font-size: 22px;
		padding: 23px;
	}
	/* header-end */

    /* bloc 1 Maecenas */

	/*.bloc-h{		
		position: relative;		
	}	
	.bloc-h h2{
		position: absolute;
		right: 30%;
		font-size: 32px;
	}
    .bloc-h h3{
		position: absolute;
		right: 0;
		font-size: 32px;
	}
	.bloc-h p{		
		font-size: 15px;
		position: absolute;
		top: 50px;
		right: 45%;
		
	}
	.bloc-p p{
        font-size: 12px;
		
		
	}
}		





              /* fin */